/* Import component-specific styles */
@import "./header.css";
/* @import "./sidebar.css"; */
@import "./content.css"; 
@import "./footer.css"; 
@import "./employer.css"; 
@import "./reference.css"; 


/* Import Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');

/* * {
  font-family: Open Sans;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Inter', sans-serif;
}

/* global.css */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* font-family: 'Inter', sans-serif; Set Inter font as default with fallback to generic sans-serif font */
  background-color: #fff;
  color: #444;
  width: 100%;
}

h1,
p {
  margin: 0 0 1em 0;
}

/* make a grid */
.wrapper {
  max-width: 100%; /* change to 100% to take up the full width of the screen */
  margin: 0 auto;
  /* display: grid; */
  grid-template-columns: 25% 75%;
  grid-gap: 10px;
}
  
.wrapper > * {
  color: #062056;
  border-radius: 5px;
  /* padding: 20px; */
  font-size: 125%;
  padding: 1%;
}

/* adjust grid-column property for header and footer */
.header, .footer {
  grid-column: 1 / -1;
}

/* adjust grid-column property for sidebar */
/* .sidebar {
  grid-column: 1 / span 1; /* change to start at grid column 1 */
/* } */ */

/* adjust grid-column property for content */
.content {
  grid-column: 2 / -1; /* change to start at grid column 2 and span until the end of the grid */
}

.logo-text {
    font-family: 'Inter', sans-serif; /* Set Inter font for logo text */
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.logo-text span {
    color: #3498db;
}

.logo-cen {
    color: #DB2B65;
}

.logo-tido {
    color: #20b2aa;
}
