.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f0eee8; */
    
    /* background: #366; */
    background: #0000;
    
    padding: 20px;
    padding: 20px;
  }

  .header h3 {
    font: normal 36px 'Open Sans', cursive;
  }


  
  nav {
    display: flex;
    order: 2;
    margin-left: auto; /* Add margin to the left to move links further to the right */
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    /* color: #f8f2f2; */
    color: #DB2B65;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    color: #23c723;
  }

  
  
  /* .logo { */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Pacifico';
    color: #eff4f7;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    order: 1;
  } */
 
  
	

  

  


  
    