.employer-container {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.employer-info {
  grid-column: 1 / 2;
  padding-left: 20px;
}

.employer-grid {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.employer-img-container {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.employer-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.2s;
}

.employer-img-container:hover img {
  transform: scale(1.1);
}
