.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'headline headline headline headline headline'
    'ads ads main main main '
    'footline footline footline footline footline'
    'card card card card card';
  grid-gap: 20px;
  padding: 0px;
}

.item1 {
  grid-area: headline;
  grid-column: 1 / -1;
  grid-row: 1;
  padding: 10px;
}

.item2 {
  grid-area: ads;
  grid-row: 2;
  grid-column: 1 / 3;
  padding: 10px;
}

.item3 {
  /* background-image: url('../images/centido/sheet.png'); */
  /* background-image: url('../images/centido/ben3.png'); */
  /* background-image: url('../images/centido/sales.png'); */
   /* background-image: url('../images/centido/start-Niklas.png'); */
   background-image: url('../images/centido/start-face.png');
  /* background-image: url('../images/centido/analyze-homepage-768x531-Dan.png'); */
  /* background-image: url('../images/centido/sales2.png'); */
  /* background-size: 70%; */
  background-size: contain; /* Adjust the background size to "contain" */
  /* background-size: cover; */
  background-repeat: no-repeat;
  grid-area: main;
  grid-row: 2 / span 1;
  grid-column: 3 / 6;
}

.item4 {
  grid-area: footline;
  grid-column: 1 / -1;
  padding: 10px;
}

.item5 {
  grid-area: card;
  grid-column: 1 / -1;
  grid-row: 5;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 25%;
  /* background-color: #f2f2f2; */
  background-color: #66b1b7;
  opacity: 0.85;
  text-align: center;
  padding: 25px;
  flex: 0.3;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  color:whitesmoke;
}

.card p {
  font-size: smaller;
}

.card button {
  background-color: rgb(0, 170, 255);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.card button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.card button2:hover {
  background-color: #008CBA;
  color: white;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.card1 {
  /* background-color: aliceblue; */
  background-color: a#66b1b7;
  ;

}

.card2 {
  /* background-color: aliceblue; */
  /* background-color: a#f2b707; */
}

.card3 {
  /* background-color: aliceblue; */
  /* background-color: a#bf9175; */
}

.koglogo {
  font-family: "Supermercado One";
  background-color: yellow;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: -0.075em;
  margin-left: -0.075em;
}

.grid-container-2 {
  text-align: left;
  padding: 10;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 40%;
  }
}