.us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.us-image-container {
  display: flex;
}

.us-image {
  margin: 1rem;
  max-width: 50%;
}

.us-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.us-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.us-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.us-description {
  font-size: 1rem;
  text-align: center;
}
/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .us-image img {
    height: auto;
  }
}